/MarcelJoachimKloubert.v12.suo
/MarcelJoachimKloubert/obj
/MarcelJoachimKloubert/bin
/MarcelJoachimKloubert.Composition.Tests/obj
/MarcelJoachimKloubert.Composition.Tests/bin
/MarcelJoachimKloubert/project.lock.json
/MarcelJoachimKloubert/MarcelJoachimKloubert.csproj.user
/.vs/MarcelJoachimKloubert/v14/.suo
/.vs/config/applicationhost.config
